<h1>Shipping Calculator</h1>
<h3>Please enter your parcel information:</h3>
<form action="/parcel">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label for="width">Width:</label>
        <input id="width" name="width" class="form-control" type="text">

        <label for="height">Height:</label>
        <input id="height" name="height" class="form-control" type="text">

        <label for="length">Length:</label>
        <input id="length" name="length" class="form-control" type="text">
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label for="weight">Weight:</label>
        <input id="weight" name="weight" class="form-control" type="text">

        <label for="speed">Speed (enter a whole number from 1 to 3):</label>
        <input id="speed" name="speed" class="form-control" type="text">

        <label for="distance">Distance:</label>
        <input id="distance" name="distance" class="form-control" type="text">
      </div>
    </div>
   </div>
  <button id="submit" class="btn-success">Submit</button>
</form>
